@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tweet.css";

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: none;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply cursor-dot;
}

main {
  @apply antialiased text-[10px] sm:text-xs md:text-sm select-none overflow-hidden h-lvh;
}

.bg-box {
  @apply bg-card border-dashed border border-gray-400 dark:border-transparent md:border-none;
}

.loading-enter {
  @apply opacity-0;
}

.loading-enter-active {
  @apply opacity-100 transition-opacity duration-1000 ease-in-out;
}

.loading-exit {
  @apply opacity-100;
}

.loading-exit-active {
  @apply opacity-0 transition-opacity duration-1000 ease-in-out;
}

.scroll-none {
  overscroll-behavior: none;
}

.safe-area {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.ws {
  word-spacing: -1px;
}

.safe-area-top {
  margin-top: env(safe-area-inset-top);
}

.safe-area-bottom {
  margin-bottom: env(safe-area-inset-bottom);
}

h1 {
  @apply text-sm sm:text-base md:text-lg;
}

.dark {
  --page: 0 0 0 / 1;
  --content: 60 60 60 / 0.5;
  --blur: 0 0 0 / 0.5;
  --card: 28 28 30 / 1;
}

.light {
  --page: 255 255 255 / 1;
  --content: 255 255 255 / 0.5;
  --blur: 255 255 255 / 0.4;
  --card: 255 255 255 / 1;
}

.shine{
  color: hsla(0, 0%, 100%, .65);
  background-image: -webkit-linear-gradient(left, #002fa7, #fc8eac  25%, #002fa7 50%, #fc8eac 75%, #002fa7);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  animation: maskedAnimation 12s infinite linear;
}

/* .dot-background {
  background: rgb(235, 235, 235) fixed 0 0 /10px 10px radial-gradient(#cbcbcb 1px, transparent 0)
} */


.dot-background {
  background: rgb(20, 20, 20) fixed 0 0 /10px 10px radial-gradient(#4c4c4c 1px, transparent 0)
}

@keyframes maskedAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}