@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: none;
  }
}

main{
  @apply subpixel-antialiased text-xs md:text-sm font-bold justify-center font-mono;
}

.content{
  @apply md:bg-content mx-auto max-w-3xl min-h-fit p-4 md:p-6 flex flex-col
  md:backdrop-blur-2xl rounded-lg;
}

.page{
  @apply mobile:bg-page absolute w-full z-10 h-dvh place-content-center grid;
}

.gallery{
  @apply mobile:hidden my-auto overflow-hidden w-full h-dvh z-0 grid content-center;
}

.region-icon {
  @apply inline-block text-center rotate-180 align-middle leading-3 font-black;
  writing-mode: vertical-rl;
}

h1 {
  @apply font-black text-base md:text-lg;
}

.dark {
  --page: 23 23 23 / 1;
  --content: 0 0 0 / 0.1;
}

.light {
  --page: 255 255 255 / 1;
  --content: 255 255 255 / 0.2;
}
